*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  

}
.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 20%;
    font-size: 7vmin;
    color:black;
    background-color: burlywood;
}
#reset-btn {
    padding: 1rem;
    font-size: medium;
    background-color: #191913;
    color: white;
    border-radius: 1rem;

}
#new-btn {
    padding: 1rem;
    font-size: medium;
    background-color: #191913;
    color: white;
    border-radius: 1rem;

}
#msg{
    color: white;
    font-size: 8vmin;
}
.hide{
    display: none;
}